

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left:3rem;
    padding-right:3rem;

}
.icon-menu-item {
    width: 4.563rem;
    height: 0.400rem;
    background-color: black;
    margin: 0.575rem 0;
    border-radius: 6px;
}
.con {
    margin-top:2rem;
    padding-top: 12rem;
    padding-bottom: 12rem;
}
.con-wrapper{
    display:flex;
    justify-content:center;
    height:auto;
    width:100%;
}
.content-center {
    max-width: 87.5rem;
    margin: auto;
    height: 100%;
    padding: 0 5.5rem;
}
.title{
    font-size:4rem;
    margin-bottom:0;
}
.title1 {
    font-size: 3rem;
    margin-bottom: 0;
}
.under-title {
    height: 4px;
    width: 74%;
    background: linear-gradient(85deg,#ffdc66,transparent);
}
.title-wrapper{
    display:flex;
    flex-direction:column;
}
.con1-title {
    font-size: 5rem;
    margin-bottom: 0;
    margin-top: 15rem;
}

.con2-title{
    font-size:5rem;
    margin-bottom:0;
    margin-top:15rem;
   
}
.under1-title {
    height: 8px;
    width: 75%;
    background: linear-gradient(85deg,#ffdc66,transparent);
}
.under2-title {
    height: 8px;
    width: 45%;
    background: linear-gradient(85deg,#ffdc66,transparent);
}
.svg-class {
    position: absolute;
    left: 20.64%;
    top: 23.17%;
    
}
.skills-card {
    padding-top: 20rem;
    display:flex;
    flex-direction:column;
    gap:15rem;
}
.card {
    
    display:flex;
    flex-direction:column;
    align-items:start;
    
}
.card-title {
    font-size: 5rem;
    margin-bottom: 0;
}
.card-txt {
    font-size: 3rem;
    margin-bottom:0px;
}
.under3-title {
    height: 10px;
    width: 74%;
    background: linear-gradient(85deg,#ffdc66,transparent);
}
.under4-title {
    height: 10px;
    width: 48%;
    background: linear-gradient(85deg,#ffdc66,transparent);
}
.con3-title {
    font-size: 5rem;
    margin-bottom: 0;
    margin-top: 15rem;
}
.under5-title {
    height: 10px;
    width: 48%;
    background: linear-gradient(85deg,#ffdc66,transparent);
}
