<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"" />
    <title>@ViewData["Title"] - Dhurim Zenuni</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyPortfolio.styles.css" asp-append-version="true" />
    <style type="text/css">
            body {margin:0; padding:0;box-sizing: border-box;}
    </style>
</head>
<body>
    <header>
        <div class="header">
        <div class="header-wrapper pxy">
            <div>
                <svg width="120" height="100" viewBox="0 0 92 68" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 34V68H46H92V34V1.3113e-06H46H0V34ZM33.982 15.5073C39.7009 18.5756 42.7676 22.3902 44.4252 28.9415C46.6631 37.8146 44.1766 47.1024 38.1261 52.5756C33.8162 56.4732 29.8378 57.5512 25.6108 55.8098C22.5441 54.6488 19.3946 54.6488 16.5766 55.8927C15.4991 56.3073 15.3333 54.3171 15.3333 40.7171C15.3333 25.7073 15.4162 24.961 16.991 24.5463C17.9027 24.3805 19.4775 23.9659 20.3892 23.6341C22.1297 23.0537 22.1297 23.2195 21.3838 27.5317C20.555 31.6781 20.9694 51.9951 21.8811 52.8244C22.1297 53.0732 23.9532 53.4878 26.0252 53.6537C31.2468 54.2341 34.8937 51.8293 37.7946 45.9415C40.9441 39.4732 41.027 31.678 37.9604 26.4537C33.5676 18.9073 25.1135 17 16.245 21.478L11.5207 23.8L12.1009 21.2293C13.0126 17.0829 13.8414 16.0049 17.5712 14.678C23.373 12.6049 29.009 12.9366 33.982 15.5073ZM78.7387 13.9317C78.7387 14.0976 78.0757 15.2585 77.164 16.4195C74.0973 20.8146 61.3333 49.0098 61.3333 51.4976C61.3333 52.6585 69.7045 52.4098 74.1802 51C76.418 50.3366 78.3243 49.922 78.4072 50.0049C78.4901 50.0878 78.3243 51.4146 78.0757 52.9902L77.4955 55.8098L64.6486 55.8927L51.8018 55.9756L59.0126 41.5463C62.991 33.5854 66.9694 24.961 67.8811 22.3073L69.5387 17.4146H64.9802C62.4937 17.4146 59.0955 17.9951 57.4378 18.6585C55.7802 19.322 54.3712 19.8195 54.2054 19.6537C54.0396 19.4878 54.1225 18.078 54.3712 16.5024L54.8685 13.6829H66.8036C73.3513 13.6829 78.7387 13.8488 78.7387 13.9317Z" fill="#415F75"/>
                </svg>
            </div>
            <div class="icon-menu">
                <div class="icon-menu-item"></div>
                <div class="icon-menu-item"></div>
                <div class="icon-menu-item"></div>
            </div>
        </div>
        </div>
    </header>
    <div class="con">
       <div class="con-wrapper">
       <div class="con-photo">
           <svg width="895" height="665" viewBox="0 0 895 665" fill="none" xmlns="http://www.w3.org/2000/svg">
           <g opacity="0.5">
           <path d="M595.4 70.9959C614.747 69.8734 629.52 53.2807 628.398 33.9351C627.275 14.5894 610.682 -0.183326 591.336 0.939181C571.989 2.06169 557.216 18.6544 558.338 38C559.46 57.3456 576.054 72.1184 595.4 70.9959Z" fill="#415F75"/>
           <path d="M835.772 595.076C885.539 552.398 906.542 484.316 887.284 421.649C886.806 420.092 886.306 418.54 885.785 416.993C873.274 379.857 845.657 345.476 807.74 335.578C775.902 327.267 742.243 337.031 709.408 334.897C644.951 330.707 592.33 281.806 554.273 229.618C516.216 177.429 485.864 118.301 436.875 76.2034C356.126 6.81313 230.467 -1.84454 138.448 51.7121C46.4293 105.269 -7.77593 215.389 0.964698 321.496C9.70546 427.602 78.6821 525.531 173.421 574.114C208.224 591.962 247.962 603.731 286.415 596.575C319.78 590.365 349.273 570.534 382.415 563.231C434.524 551.75 488.166 572.497 535.266 597.568C582.367 622.64 628.215 652.936 680.657 662.783C731.577 672.345 791.686 632.882 835.772 595.076Z" fill="#415F75"/>
           </g>
           </svg>
       </div>
       </div>
       <div></div>
    </div>
    <footer>
        
    </footer>
</body>
</html>