<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"" />
    <title>@ViewData["Title"] - Dhurim Zenuni</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyPortfolio.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
     
    </header>
    <div>
        <main>
            @RenderBody()
        </main>
    </div>
    <footer>
        
    </footer>
</body>
</html>
