<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" />
    <title>@ViewData["Title"] - Dhurim Zenuni</title>
</head>
<body>
    <header>
     
    </header>
    <div>
        <main>
            @RenderBody()
        </main>
    </div>
    <footer>
        
    </footer>
</body>
</html>
